<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection: Details</title>
    <%- include('../components/head') %>
  </head>
  <body>
    <main>
      <h4><%- include('../components/nav') %> Book Details </h4>
      <div id=detaildiv>
        <button class="hide">Edit Details</button>
        <form action="<%= `/delete/${book.id}` %>" method="POST" id="delete">
          <input type="hidden" name="_method" value="DELETE"></input>
          <button>Delete Book from Library</button>
        </form>
        <img src= <%= book.image_url %> />
        <div class="toggle details">
          <%- include('../components/basic', {book: book});%>
          <p class='description'><%= book.description %></p>
          <p class='isbn'>ISBN: <%=book.isbn%></p>
          <p class='shelf'>Bookshelf: <%= book.bookshelf%></p>
        </div>
        <form action="<%= `/edit/${book.id}` %>" method="POST" class="toggle hidden">
          <input type="hidden" name="_method" value="PUT"></input>
          <%- include('../components/form', {book: book});%>
          <select name="bookshelf">
            <% bookshelves.forEach(shelf => {%>
            <option value="<%= shelf.bookshelf %>" <%= (shelf.bookshelf === book.bookshelf) ? 'selected="selected"' : '' %>><%= shelf.bookshelf %></option>
            <% }) %>
          </select>
          <button type="submit">Edit Book</button>
        </form>
      </div>
    </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='public/js/app.js'></script>
  </body>
</html>