<label>Title:</label>
<input type="text" name="title" value="<%= book.title %>"</br>
<label>Author:</label>
<input type="text" name="author" value="<%= book.author %>"></br>
<input type="hidden" name="image_url" value="<%= book.image_url %>">
<label>Description:</label>
<textarea name="description" cols="30" rows="10"><%= book.description %></textarea></br>
<label>ISBN #:</label>
<input type="text" name="isbn" value="<%= book.isbn %>"></br>
<label>Custom Bookshelf Name:</label>